[Unit]
Description=Ingenero360 Brochure Marketing Portal Gunicorn Daemon
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/ingenero360_brochures
ExecStart=/usr/local/bin/gunicorn --workers 4 --threads 2 --bind 127.0.0.1:5000 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
